th {
	color: #FFF;
	padding: 0.5em;
	background-color: dimgray;
}
td {
	padding: 0.5em;
	border: 1px solid gray;
}
.fee_table, .history_table, .my_status_table {
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}
.number {
	text-align: right;
	white-space: nowrap;
}
.minus_fee {
	color: red;
}

caption {
	text-align: right;
}
.my_status_table th{
	width: 25%;
}
