table {
    font-size: 9pt;
}
table.bookmarks {
    border: 1px solid gray;
}
table.bookmarks td, table.bookmarks th{
    text-align: left;
    padding: 0.4em;
    border: 1px solid gray;
}
/*
tr:nth-child(odd) {
    background-color:#FCFCFC;
}
*/
th {
    background-color:#CCC;	
}
button {
    padding: 5px;
}

.button {
    min-width: 6em;
}

.bottom_row{
	border-bottom: 3px solid gray;
}
.notice_previous_news {
    background-color: yellow;    
}
.previous_news {
    background-color: orange;    
}

.is_owner {
    background-color: skyblue;    
}

.bookmarks button {
    white-space: nowrap;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
span.recommended_mark {
    background-color: red;
    color: #FFF;
    padding: 5px;
    border-radius: 7px;
}
