textarea {
	font-size: 9pt;
	min-width: 310px;
	height: 5em;
	line-height: 1.2em;
	margin: auto;
}

td, th {
	border: 1px solid gray;
	padding: 0.5em;
}
th {
	background-color: dimgray;
	font-weight: bold;
	color: white;
}
.review_block {
	border: 3px solid dimgray;
	margin-top: 15px;
}
table {
	width: 100%;
	font-size: 10px;
}
.comment_area textarea {
	display: none;
}