header, main {
    max-width: 660px;
    margin: auto;
}
footer {
    max-width: 660px;
    margin: auto;
    background-color: dimgray;
    color: white;
}
.gnavi {
    background-color: white;
    border: 1px solid dimgray;
    z-index: 100;
//  text-align: right;
    position: fixed;
    right: 0px;
    width: 120px;
}
.gnavi li{
    border: 1px solid dimgray;
    padding: 6px;
    margin: 4px;
}
.slide_btn {
    width: 100%;
}
.toggle_box{
    display:none;
}
.lnavi {
    padding: 1em;
}
.paginate {
    text-align: right;
}
.paginate li {
    display: inline-block;
    text-align: center;
}
.paginate li.btn {
    padding: 2px;
    margin: 0.4em;
    border: 1px solid dimgray;
    width: 4em;
    border-radius: 6px;

}

.operation_buttons {
    padding: 0.5em;
    margin: auto;
    border: 1px solid gray;
}

td {
    text-align: left;
}

.opacity_30 {
    opacity:0.3; 
}

.select_form li{
    display: inline-block;
}
.previous_graph {
    padding: 2px;
    margin: 0.4em;
    border: 1px solid dimgray;
    width: 4em;
    border-radius: 6px;
}


/*-------------------------------------------*/
/*  フルサイズ
/*-------------------------------------------*/
@media (min-width: 970px) { /* スクロール分余裕に20px */
  .innerBox, #panList .innerBox, #footMenu .innerBox, #footer .innerBox, #topMainBnrFrame, #pageTitBnr .innerBox, #topMainBnrFrame {width: 500px;padding-left: 0;padding-right: 0;margin: 0 auto;}
  #topMainBnr img { width: 100% !important; }
}

a {
    color: blue;
}

