        table.form {
            width: 100%;
            border: 1px solid gray;
        }
        table.form td{
            padding: 3px;
        }
        table.form .index{
            padding: 0.5em;
            font-size: 8pt;
            border-right: 1px solid gray;
            width: 30px;
        }
        table.form input.capture{
            font-size: 8px;
            width: 98%;
        }
        input[type=button], input[type=submit] {
            align-items: flex-start;
            text-align: center;
            cursor: default;
            color: buttontext;
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
            background-color: buttonface;
            box-sizing: border-box;
            padding: 2px 6px 3px;
            border: 2px outset buttonface;
        }
        #form-tpl, #postmain-tpl, input.cancel, div.buttons, div.preview{
            display: none;
        }
        div.buttons input{
            margin: 10px;
        }
td.confirm_button {
  text-align: right;
}
textarea {
  font-size: 9pt;
  width: 95%;
  margin: auto; 
}
.capture img {
    width: 320px;
    height: 240px !important;
}
#lean_overlay{
  position: fixed; z-index:100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
#leanModal{
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  display: none;
  padding: 5px;
  width: 80%;
  height: 90%;
 }
.modal_close{
  float: right;
  padding: 10px;
  display: block;
  z-index: 2;
}
#leanModalTextarea {
    width: 90%;
    height: 90%;
}

#urls {
    display: none;
}

